<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Grocery List</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style>
    .top {
      margin-top: 2em;
    }
    p {
      font-size: 18px;
    }
  </style>
</head>

<body ng-app='groceryApp'>
  <div class='container' ng-controller='NewItemController as new'>
    <h1>My Grocery List</h1>
    <form ng-submit='new.submit()' class="form-inline top">
      <div class="form-group">
        <label for="item">Item</label>
        <input ng-model='new.item' type="text" class="form-control" id="item" placeholder="item">
      </div>
      <input class='btn btn-success' type="submit" id='submit' value='Add Item' />
    </form>
    <div class='top'>
      <table class="table table-condensed">
        <tr>
          <thead>
            <th>
              Got it
            </th>
            <th>
              Item
            </th>
            <th>
              Delete
            </th>
          </thead>
        </tr>
        <tr ng-repeat='n in new.list track by $index'>
          <td>
            <input type="checkbox" >
          </td>
          <td>
            <p class="text-primary">{{n}}</p>
          </td>
          <td>
            <button ng-click='new.delete($index)' type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- Angular-->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="app.js"></script>
</body>

</html>
